.gt-bd-title {
    font-family: Georgia, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.08rem;
    line-height: 1.25;
    margin: 0rem;
}

.gt-bd-page-container {
    max-width: 1024px;
    margin: auto;
}

.gt-bd-book-details-container {
    padding-bottom: 2.25rem;
    padding-left: 1.23rem;
    padding-right: 1.23rem;
}

.gt-bd-book-image-container {
    width: 50%;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.gt-bd-hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.gt-bd-price-span {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.125rem;
    margin-right: .75rem;
    text-align: right;
    margin-top: -.1875rem;
    margin-left: 0 !important;
}


.gt-bd-book-img {
    display: block;
    max-width:550px;
    max-height:406px;
    width: auto;
    height: auto;
  }





  .titlediv{
    text-align: center;
    padding-right: 205px;
  }
  
  .reviewdiv{
    padding-left: 153px;
  }

  .anondiv{
    text-align: center;
  }

  .writeareview {
    border: 4px solid #3d6db5;
    background-color: #3d6db5;
    color: #fff;
    border-radius: 3px;
    margin-bottom:10px;
  }

  

  .closebutton{
    position: absolute;
    left: 750px;
    bottom: 440px;
  }

  .submitbutton{
    position: absolute;
    bottom: 26px;
    right: 270px;
  }

  .titleinput{
    resize: none;
    margin-left:268px;
  }

  .reviewinput{
    resize: none;
    margin-left: 150px;
  }

  .rating {
    float:left;
    
    margin-left: 290px;
  }

.pleaserate{
  font-size: 20px;
  right: 70px;
  padding-bottom: 14px;
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
